.header-form {
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid rgb(0, 35, 102);
}

.header-heading {
    padding: 0 20px;
    color: rgb(0, 35, 102);
}