.item {
    position: relative;
    margin: 5px;
    height: 180px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.item:hover::before {
    opacity: 1;
}

.item::before,
.item>.item__border {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.5s;
}

.item::before {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.1), transparent 40%);
    z-index: 3;
}

.item>.item__border {
    background: radial-gradient(200px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.3), transparent 40%);
    z-index: 1;
}

.item>.item__content {
    position: relative;
    margin: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--item-color);
    border-radius: inherit;
    z-index: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.item__content-author,
.item__content-des {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

.item__content span {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0px;
}